In [1]:
import pandas as pd
from sqlalchemy import create_engine

# PostgreSQL connection details
db_user = "sparkuser"
db_password = "9567"
db_host = "localhost"  # Change if needed
db_port = "5432"  # Default PostgreSQL port
db_name = "lyricsdb"

# Create SQLAlchemy engine
engine = create_engine(f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

In [2]:
import pandas as pd
train_file_path = "mxm_dataset_train.txt"
test_file_path = "mxm_dataset_test.txt"

# Initialize lists to store the data
words_data = []
lyrics_data = []

# Helper function to encode strings like the SQLite utility
def encode_string(s):
    return s.replace("'", "''")

# Parse the training data file for words
with open(train_file_path, 'r', encoding='utf-8') as file:
    for line in file:
        if line.startswith('%'):
            topwords = line.strip()[1:].split(',')
            break

# Add the words to the words table (DataFrame)
words_df = pd.DataFrame(topwords, columns=["word"])

In [3]:
words_df.insert(0, 'id', range(1, len(words_df) + 1))
words_df = words_df.rename(columns={'id':'word_id', 'word':'word'})

In [4]:
# Append data to an existing table
words_df.to_sql("words", engine, if_exists="append", index=False)

1000

In [5]:
# Parse the training data file for lyrics
train_file_path = "mxm_dataset_train.txt"
lyrics_data = []
with open(train_file_path, 'r', encoding='utf-8') as file:
    for line in file:
        if not line.strip() or line.startswith(('%', '#')):
            continue

        parts = line.strip().split(',')
        track_id, mxm_tid = parts[:2]

        # Split word and count pairs
        for word_count in parts[2:]:
            word, count = word_count.split(':')
            lyrics_data.append([track_id, mxm_tid, word, int(count), 0])  # is_test = 0 for training data

lyrics_df = pd.DataFrame(lyrics_data, columns=["track_id", "mxm_tid", "word", "count", "is_test"])

In [6]:
lyrics_df = lyrics_df.rename(columns={'word':'word_id'})
lyrics_df['is_test'] = lyrics_df['is_test'].astype(bool)
lyrics_df.insert(5, 'l_id', range(1, len(lyrics_df) + 1))
lyrics_df.head()

             track_id  mxm_tid word_id  count  is_test  l_id
0  TRAAAAV128F421A322  4623710       1      6    False     1
1  TRAAAAV128F421A322  4623710       2      4    False     2
2  TRAAAAV128F421A322  4623710       3      2    False     3
3  TRAAAAV128F421A322  4623710       4      2    False     4
4  TRAAAAV128F421A322  4623710       5      5    False     5

In [8]:
for i in range(0, len(lyrics_df), 50000):
    if (i+50000) < len(lyrics_df):
        lyrics_df[i+1:i+50000].to_sql("lyrics", engine, if_exists="append", index=False)
    else:
        lyrics_df[i+1:].to_sql("lyrics", engine, if_exists="append", index=False)

    print(f"Rows from {i+1} to {i+50000} uploaded")

Rows from 1 to 50000 uploaded
Rows from 50001 to 100000 uploaded
Rows from 100001 to 150000 uploaded
Rows from 150001 to 200000 uploaded
Rows from 200001 to 250000 uploaded
Rows from 250001 to 300000 uploaded
Rows from 300001 to 350000 uploaded
Rows from 350001 to 400000 uploaded
Rows from 400001 to 450000 uploaded
Rows from 450001 to 500000 uploaded
Rows from 500001 to 550000 uploaded
Rows from 550001 to 600000 uploaded
Rows from 600001 to 650000 uploaded
Rows from 650001 to 700000 uploaded
Rows from 700001 to 750000 uploaded
Rows from 750001 to 800000 uploaded
Rows from 800001 to 850000 uploaded
Rows from 850001 to 900000 uploaded
Rows from 900001 to 950000 uploaded
Rows from 950001 to 1000000 uploaded
Rows from 1000001 to 1050000 uploaded
Rows from 1050001 to 1100000 uploaded
Rows from 1100001 to 1150000 uploaded
Rows from 1150001 to 1200000 uploaded
Rows from 1200001 to 1250000 uploaded
Rows from 1250001 to 1300000 uploaded
Rows from 1300001 to 1350000 uploaded
Rows from 1350001 to 1400000 uploaded
Rows from 1400001 to 1450000 uploaded
Rows from 1450001 to 1500000 uploaded
Rows from 1500001 to 1550000 uploaded
Rows from 1550001 to 1600000 uploaded
Rows from 1600001 to 1650000 uploaded
Rows from 1650001 to 1700000 uploaded
Rows from 1700001 to 1750000 uploaded
Rows from 1750001 to 1800000 uploaded
Rows from 1800001 to 1850000 uploaded
Rows from 1850001 to 1900000 uploaded
Rows from 1900001 to 1950000 uploaded
Rows from 1950001 to 2000000 uploaded
Rows from 2000001 to 2050000 uploaded
Rows from 2050001 to 2100000 uploaded
Rows from 2100001 to 2150000 uploaded
Rows from 2150001 to 2200000 uploaded
Rows from 2200001 to 2250000 uploaded
Rows from 2250001 to 2300000 uploaded
Rows from 2300001 to 2350000 uploaded
Rows from 2350001 to 2400000 uploaded
Rows from 2400001 to 2450000 uploaded
Rows from 2450001 to 2500000 uploaded
Rows from 2500001 to 2550000 uploaded
Rows from 2550001 to 2600000 uploaded
Rows from 2600001 to 2650000 uploaded
Rows from 2650001 to 2700000 uploaded
Rows from 2700001 to 2750000 uploaded
Rows from 2750001 to 2800000 uploaded
Rows from 2800001 to 2850000 uploaded
Rows from 2850001 to 2900000 uploaded
Rows from 2900001 to 2950000 uploaded
Rows from 2950001 to 3000000 uploaded
Rows from 3000001 to 3050000 uploaded
Rows from 3050001 to 3100000 uploaded
Rows from 3100001 to 3150000 uploaded
Rows from 3150001 to 3200000 uploaded
Rows from 3200001 to 3250000 uploaded
Rows from 3250001 to 3300000 uploaded
Rows from 3300001 to 3350000 uploaded
Rows from 3350001 to 3400000 uploaded
Rows from 3400001 to 3450000 uploaded
Rows from 3450001 to 3500000 uploaded
Rows from 3500001 to 3550000 uploaded
Rows from 3550001 to 3600000 uploaded
Rows from 3600001 to 3650000 uploaded
Rows from 3650001 to 3700000 uploaded
Rows from 3700001 to 3750000 uploaded
Rows from 3750001 to 3800000 uploaded
Rows from 3800001 to 3850000 uploaded
Rows from 3850001 to 3900000 uploaded
Rows from 3900001 to 3950000 uploaded
Rows from 3950001 to 4000000 uploaded
Rows from 4000001 to 4050000 uploaded
Rows from 4050001 to 4100000 uploaded
Rows from 4100001 to 4150000 uploaded
Rows from 4150001 to 4200000 uploaded
Rows from 4200001 to 4250000 uploaded
Rows from 4250001 to 4300000 uploaded
Rows from 4300001 to 4350000 uploaded
Rows from 4350001 to 4400000 uploaded
Rows from 4400001 to 4450000 uploaded
Rows from 4450001 to 4500000 uploaded
Rows from 4500001 to 4550000 uploaded
Rows from 4550001 to 4600000 uploaded
Rows from 4600001 to 4650000 uploaded
Rows from 4650001 to 4700000 uploaded
Rows from 4700001 to 4750000 uploaded
Rows from 4750001 to 4800000 uploaded
Rows from 4800001 to 4850000 uploaded
Rows from 4850001 to 4900000 uploaded
Rows from 4900001 to 4950000 uploaded
Rows from 4950001 to 5000000 uploaded
Rows from 5000001 to 5050000 uploaded
Rows from 5050001 to 5100000 uploaded
Rows from 5100001 to 5150000 uploaded
Rows from 5150001 to 5200000 uploaded
Rows from 5200001 to 5250000 uploaded
Rows from 5250001 to 5300000 uploaded
Rows from 5300001 to 5350000 uploaded
Rows from 5350001 to 5400000 uploaded
Rows from 5400001 to 5450000 uploaded
Rows from 5450001 to 5500000 uploaded
Rows from 5500001 to 5550000 uploaded
Rows from 5550001 to 5600000 uploaded
Rows from 5600001 to 5650000 uploaded
Rows from 5650001 to 5700000 uploaded
Rows from 5700001 to 5750000 uploaded
Rows from 5750001 to 5800000 uploaded
Rows from 5800001 to 5850000 uploaded
Rows from 5850001 to 5900000 uploaded
Rows from 5900001 to 5950000 uploaded
Rows from 5950001 to 6000000 uploaded
Rows from 6000001 to 6050000 uploaded
Rows from 6050001 to 6100000 uploaded
Rows from 6100001 to 6150000 uploaded
Rows from 6150001 to 6200000 uploaded
Rows from 6200001 to 6250000 uploaded
Rows from 6250001 to 6300000 uploaded
Rows from 6300001 to 6350000 uploaded
Rows from 6350001 to 6400000 uploaded
Rows from 6400001 to 6450000 uploaded
Rows from 6450001 to 6500000 uploaded
Rows from 6500001 to 6550000 uploaded
Rows from 6550001 to 6600000 uploaded
Rows from 6600001 to 6650000 uploaded
Rows from 6650001 to 6700000 uploaded
Rows from 6700001 to 6750000 uploaded
Rows from 6750001 to 6800000 uploaded
Rows from 6800001 to 6850000 uploaded
Rows from 6850001 to 6900000 uploaded
Rows from 6900001 to 6950000 uploaded
Rows from 6950001 to 7000000 uploaded
Rows from 7000001 to 7050000 uploaded
Rows from 7050001 to 7100000 uploaded
Rows from 7100001 to 7150000 uploaded
Rows from 7150001 to 7200000 uploaded
Rows from 7200001 to 7250000 uploaded
Rows from 7250001 to 7300000 uploaded
Rows from 7300001 to 7350000 uploaded
Rows from 7350001 to 7400000 uploaded
Rows from 7400001 to 7450000 uploaded
Rows from 7450001 to 7500000 uploaded
Rows from 7500001 to 7550000 uploaded
Rows from 7550001 to 7600000 uploaded
Rows from 7600001 to 7650000 uploaded
Rows from 7650001 to 7700000 uploaded
Rows from 7700001 to 7750000 uploaded
Rows from 7750001 to 7800000 uploaded
Rows from 7800001 to 7850000 uploaded
Rows from 7850001 to 7900000 uploaded
Rows from 7900001 to 7950000 uploaded
Rows from 7950001 to 8000000 uploaded
Rows from 8000001 to 8050000 uploaded
Rows from 8050001 to 8100000 uploaded
Rows from 8100001 to 8150000 uploaded
Rows from 8150001 to 8200000 uploaded
Rows from 8200001 to 8250000 uploaded
Rows from 8250001 to 8300000 uploaded
Rows from 8300001 to 8350000 uploaded
Rows from 8350001 to 8400000 uploaded
Rows from 8400001 to 8450000 uploaded
Rows from 8450001 to 8500000 uploaded
Rows from 8500001 to 8550000 uploaded
Rows from 8550001 to 8600000 uploaded
Rows from 8600001 to 8650000 uploaded
Rows from 8650001 to 8700000 uploaded
Rows from 8700001 to 8750000 uploaded
Rows from 8750001 to 8800000 uploaded
Rows from 8800001 to 8850000 uploaded
Rows from 8850001 to 8900000 uploaded
Rows from 8900001 to 8950000 uploaded
Rows from 8950001 to 9000000 uploaded
Rows from 9000001 to 9050000 uploaded
Rows from 9050001 to 9100000 uploaded
Rows from 9100001 to 9150000 uploaded
Rows from 9150001 to 9200000 uploaded
Rows from 9200001 to 9250000 uploaded
Rows from 9250001 to 9300000 uploaded
Rows from 9300001 to 9350000 uploaded
Rows from 9350001 to 9400000 uploaded
Rows from 9400001 to 9450000 uploaded
Rows from 9450001 to 9500000 uploaded
Rows from 9500001 to 9550000 uploaded
Rows from 9550001 to 9600000 uploaded
Rows from 9600001 to 9650000 uploaded
Rows from 9650001 to 9700000 uploaded
Rows from 9700001 to 9750000 uploaded
Rows from 9750001 to 9800000 uploaded
Rows from 9800001 to 9850000 uploaded
Rows from 9850001 to 9900000 uploaded
Rows from 9900001 to 9950000 uploaded
Rows from 9950001 to 10000000 uploaded
Rows from 10000001 to 10050000 uploaded
Rows from 10050001 to 10100000 uploaded
Rows from 10100001 to 10150000 uploaded
Rows from 10150001 to 10200000 uploaded
Rows from 10200001 to 10250000 uploaded
Rows from 10250001 to 10300000 uploaded
Rows from 10300001 to 10350000 uploaded
Rows from 10350001 to 10400000 uploaded
Rows from 10400001 to 10450000 uploaded
Rows from 10450001 to 10500000 uploaded
Rows from 10500001 to 10550000 uploaded
Rows from 10550001 to 10600000 uploaded
Rows from 10600001 to 10650000 uploaded
Rows from 10650001 to 10700000 uploaded
Rows from 10700001 to 10750000 uploaded
Rows from 10750001 to 10800000 uploaded
Rows from 10800001 to 10850000 uploaded
Rows from 10850001 to 10900000 uploaded
Rows from 10900001 to 10950000 uploaded
Rows from 10950001 to 11000000 uploaded
Rows from 11000001 to 11050000 uploaded
Rows from 11050001 to 11100000 uploaded
Rows from 11100001 to 11150000 uploaded
Rows from 11150001 to 11200000 uploaded
Rows from 11200001 to 11250000 uploaded
Rows from 11250001 to 11300000 uploaded
Rows from 11300001 to 11350000 uploaded
Rows from 11350001 to 11400000 uploaded
Rows from 11400001 to 11450000 uploaded
Rows from 11450001 to 11500000 uploaded
Rows from 11500001 to 11550000 uploaded
Rows from 11550001 to 11600000 uploaded
Rows from 11600001 to 11650000 uploaded
Rows from 11650001 to 11700000 uploaded
Rows from 11700001 to 11750000 uploaded
Rows from 11750001 to 11800000 uploaded
Rows from 11800001 to 11850000 uploaded
Rows from 11850001 to 11900000 uploaded
Rows from 11900001 to 11950000 uploaded
Rows from 11950001 to 12000000 uploaded
Rows from 12000001 to 12050000 uploaded
Rows from 12050001 to 12100000 uploaded
Rows from 12100001 to 12150000 uploaded
Rows from 12150001 to 12200000 uploaded
Rows from 12200001 to 12250000 uploaded
Rows from 12250001 to 12300000 uploaded
Rows from 12300001 to 12350000 uploaded
Rows from 12350001 to 12400000 uploaded
Rows from 12400001 to 12450000 uploaded
Rows from 12450001 to 12500000 uploaded
Rows from 12500001 to 12550000 uploaded
Rows from 12550001 to 12600000 uploaded
Rows from 12600001 to 12650000 uploaded
Rows from 12650001 to 12700000 uploaded
Rows from 12700001 to 12750000 uploaded
Rows from 12750001 to 12800000 uploaded
Rows from 12800001 to 12850000 uploaded
Rows from 12850001 to 12900000 uploaded
Rows from 12900001 to 12950000 uploaded
Rows from 12950001 to 13000000 uploaded
Rows from 13000001 to 13050000 uploaded
Rows from 13050001 to 13100000 uploaded
Rows from 13100001 to 13150000 uploaded
Rows from 13150001 to 13200000 uploaded
Rows from 13200001 to 13250000 uploaded
Rows from 13250001 to 13300000 uploaded
Rows from 13300001 to 13350000 uploaded
Rows from 13350001 to 13400000 uploaded
Rows from 13400001 to 13450000 uploaded
Rows from 13450001 to 13500000 uploaded
Rows from 13500001 to 13550000 uploaded
Rows from 13550001 to 13600000 uploaded
Rows from 13600001 to 13650000 uploaded
Rows from 13650001 to 13700000 uploaded
Rows from 13700001 to 13750000 uploaded
Rows from 13750001 to 13800000 uploaded
Rows from 13800001 to 13850000 uploaded
Rows from 13850001 to 13900000 uploaded
Rows from 13900001 to 13950000 uploaded
Rows from 13950001 to 14000000 uploaded
Rows from 14000001 to 14050000 uploaded
Rows from 14050001 to 14100000 uploaded
Rows from 14100001 to 14150000 uploaded
Rows from 14150001 to 14200000 uploaded
Rows from 14200001 to 14250000 uploaded
Rows from 14250001 to 14300000 uploaded
Rows from 14300001 to 14350000 uploaded
Rows from 14350001 to 14400000 uploaded
Rows from 14400001 to 14450000 uploaded
Rows from 14450001 to 14500000 uploaded
Rows from 14500001 to 14550000 uploaded
Rows from 14550001 to 14600000 uploaded
Rows from 14600001 to 14650000 uploaded
Rows from 14650001 to 14700000 uploaded
Rows from 14700001 to 14750000 uploaded
Rows from 14750001 to 14800000 uploaded
Rows from 14800001 to 14850000 uploaded
Rows from 14850001 to 14900000 uploaded
Rows from 14900001 to 14950000 uploaded
Rows from 14950001 to 15000000 uploaded
Rows from 15000001 to 15050000 uploaded
Rows from 15050001 to 15100000 uploaded
Rows from 15100001 to 15150000 uploaded
Rows from 15150001 to 15200000 uploaded
Rows from 15200001 to 15250000 uploaded
Rows from 15250001 to 15300000 uploaded
Rows from 15300001 to 15350000 uploaded
Rows from 15350001 to 15400000 uploaded
Rows from 15400001 to 15450000 uploaded
Rows from 15450001 to 15500000 uploaded
Rows from 15500001 to 15550000 uploaded
Rows from 15550001 to 15600000 uploaded
Rows from 15600001 to 15650000 uploaded
Rows from 15650001 to 15700000 uploaded
Rows from 15700001 to 15750000 uploaded
Rows from 15750001 to 15800000 uploaded
Rows from 15800001 to 15850000 uploaded
Rows from 15850001 to 15900000 uploaded
Rows from 15900001 to 15950000 uploaded
Rows from 15950001 to 16000000 uploaded
Rows from 16000001 to 16050000 uploaded
Rows from 16050001 to 16100000 uploaded
Rows from 16100001 to 16150000 uploaded
Rows from 16150001 to 16200000 uploaded
Rows from 16200001 to 16250000 uploaded
Rows from 16250001 to 16300000 uploaded
Rows from 16300001 to 16350000 uploaded
Rows from 16350001 to 16400000 uploaded
Rows from 16400001 to 16450000 uploaded
Rows from 16450001 to 16500000 uploaded
Rows from 16500001 to 16550000 uploaded
Rows from 16550001 to 16600000 uploaded
Rows from 16600001 to 16650000 uploaded
Rows from 16650001 to 16700000 uploaded
Rows from 16700001 to 16750000 uploaded
Rows from 16750001 to 16800000 uploaded
Rows from 16800001 to 16850000 uploaded